*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow: hidden;
}

body{
    background-color: rgb(58, 57, 57);
    height: 100vh;
    overflow-y: auto;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
}

nav{
    width: 100%;
    color: whitesmoke !important;
}

.navbar-toggler{
    background-color: whitesmoke;
}


#search, button, .btn{
    max-height: 60px;
    padding: 4px 8px;
    margin: 2px 4px;
    border-radius: 5px;
    border:none;
}
#search{
    max-width: 400px;
}
#navbarNav {
    max-height: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

#navbarNav.collapse {
    max-height: 500px;
}

.navbar-nav{
    width: 100%;
    display: flex;
    padding: 10px 5px;
}

.navbar-nav li{
    margin: 4px 0;
}
li{
    list-style: none;
}
a{
    display: inline-flex;
    max-width: 100px;
    text-decoration: none;
    color: whitesmoke;
}

.btn:hover{
    background-color: rgb(70, 69, 69);
}

main{
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    top: 20px;
    padding: 10px 20px;
}

#table{
    width: fit-content !important;
    overflow-y: auto;
}
table{
    vertical-align: middle !important;
}
#allMaterials,#allLocations{
    max-width: 100%;
    padding: 4px;
}

#alertSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    margin: 0 !important;
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
}
.alert{
    padding: 14px 28px;
}
.alert span{
    display: flex;
    padding: 2px;
    width: 26px;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    transition: all 0.4s ease-in-out;
    color: black !important;
}

.alert-success span:hover{
    background-color: #25c57bc2;
}
.alert-danger span:hover{
    background-color: #cf2533a9;
}

.mb-3{
    position: relative !important;
}

#allLocations, #allMaterials{
    margin-top: 40px;
    width: fit-content !important;
}

#locations{
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: auto;
    background-color: rgba(28, 26, 26);
    position: absolute;
    top: 110px;
    left: 100%;
    transform: translate(-60%);
    scrollbar-width: thin;
    scrollbar-color: rgb(35, 34, 34);
    display: none;
    z-index: 1000;
}
#locations span{
    display: flex;
    cursor: pointer;
    width: 100%;
    margin: 0;
    padding: 4px 8px;
}
#locations > span:hover{
    background-color: rgba(159, 162, 164, 0.878);
}

@media (max-width: 576px){
    #search{
       max-width: 160px;
    }
}